<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 등록 폼</h2>
    </div>

    <!--
    빈껍데기 아이템을 th:object로 받아준다.
    그러면은 빈 껍데기인 item 프로퍼티를 이용해서
    해당 코드들이 돌아갈 수 있다.

    그니까 객체를 html쪽으로 넘겨줘서 item에 관련된 값으로 인식해서 자동으로 만들어준다 생각하면 된다.
    만약에 item에 값까지 들어가있으면 값도 넘어온다.
    -->
    <form action="item.html" th:action th:object="${item}" method="post">
        <div>
            <label for="itemName">상품명</label>
            <!--
            th:field="*{itemName}"
            이걸 작성하면 id="itemName" name="itemName" 얘네를 자동으로 만들어준다.
            또한 앞에 *을 붙여준다면,form 테그에 붙어있는 th:object="${item}"에 속했다고
            자동으로 판단해서 item.itemName이라고 자동으로 인식한다.

            물론 th:field="${item.itemName}" 요렇게 작성해도 무관하다.

            기존의 input Type 부분
            <input type="text" id="itemName" name="itemName" class="form-control" placeholder="이름을 입력하세요">

            타임리프를 사용한 이후의 input Type 부분
            <input type="text" th:field="*{itemName}" class="form-control" placeholder="이름을 입력하세요">

            해당 예제에선 id값은 지우면 label for에 빨간줄그여서 일부로 남겨두었다. 지워버려도 된다.

            당연히 th:object가 들어가잇는 태그안에서만 적용된다.
            -->
            <input type="text" id="itemName" th:field="*{itemName}" class="form-control" placeholder="이름을 입력하세요">
        </div>
        <div>
            <label for="price">가격</label>
            <input type="text" id="price" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div>
            <label for="quantity">수량</label>
            <input type="text" id="quantity" th:field="*{quantity}" class="form-control" placeholder="수량을 입력하세요">
        </div>

        <hr class="my-4">

        <hr class="my-4">
        <!-- single checkbox -->
        <div>판매 여부</div>
        <div>
            <div class="form-check">
<!--                <input type="checkbox" id="open" name="open" class="form-check-input">-->
                <input type="checkbox" id="open" th:field="*{open}" class="form-check-input">
<!--                <input type="hidden" name="_open" value="on"/> &lt;!&ndash; 히든필드 추가 &ndash;&gt;-->
                <label for="open" class="form-check-label">판매 오픈</label>
            </div>
        </div>

        <!-- multi checkbox -->
        <div>
            <div>등록 지역</div>
            <!--
            타임리프는 루프로 체크박스를 만들어줄때 임의로 id값 뒤에 1,2,3,,,이렇게 넣어줘서 id값이 중복되지 않도록 해준다.
            HTML의 id가 타임리프를 통해 동적으로 만들어지기 때문에 id를 임의로 지정하는것은힘들다
            그래서 타임리프는 "${#ids.prev('regions')}"를 제공해서 동적으로 생성되는 id값을 사용할 수 있도록 한다.

            얘도 똑같이 hidden필드를 만들어준다.
            null로 오지는 않고, 빈배열이 오게 된다.
             -->
            <div th:each="region : ${regions}" class="form-check form-check-inline">
                <input type="checkbox" th:field="*{regions}" th:value="${region.key}" class="form-check-input">
                <label th:for="${#ids.prev('regions')}" th:text="${region.value}" class="form-check-label">서울</label>
            </div>
        </div>

        <!-- radio button -->
        <div>
            <div>상품 종류</div>
            <div th:each="type : ${itemTypes}" class="form-check form-check-inline">
                <!-- type.name하면 Enum에서 값을 가져올 수 있다. -->
                <input type="radio" th:field="*{itemType}" th:value="${type.name()}" class="form-check-input">
                <label th:for="${#ids.prev('itemType')}" th:text="${type.description}" class="form-check-label">
                    BOOK
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/form/items}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>